<footer class="footer">
    <div>  
        <ul class="list__links-container">
            <li >
                <a href="">
                    <img src="assets/icons/github.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    My portfalio
                </a>
            </li>
        </ul>
    </div>
    <div>
        &copy; <%= new Date().getFullYear() %> Test Quiz by-Sergio Noriega
    </div>
</footer>