
<header>
    <nav class="container__header-nav">
      <!-- <a href="/" class="header__logo">Quiz</a> -->

      <div>
        <a href="/" class="header__logo">Quiz</a> 
      </div>
      <div>
        <ul class="header__menu">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about" >About</a>
          </li>
          <li>
            <a href="/contact" >Contact</a>
          </li>
        </ul>
      </div>
    </nav>
</header>
