<section class="container__take-test">
    <div>
        <h1>Take a test!</h1>
        <h3>
            Hello, welcome. This is a website for questions and answers. If you want to improve your general knowledge, click on 'Start', let's go."        
        </h3>
        <button>
            Start
        </button>
    </div>
    <div>
        <img src="" alt="example-img">
    </div>
</section>