<section class="container__take-test">
    <div class="container__take-test-text">
        <h1>Take a test!</h1>
        <h3>
            Hello, welcome. This is a website for questions and answers. If you want to improve your general knowledge, click on 'Start', let's go."        
        </h3>
        <button>
            <a href="/quiz">Start</a>
        </button>
    </div>
    <div class="container__take-test-image">
        <img src="/assets/images/Questionary.jpg" alt="example-img">
    </div>
</section>
