<section class="container__take-test">
    <div>
        <h1>Take a test!</h1>
        <h3>
            This page allows you to check what is your level in general information, Let's start
        </h3>
        <button>
            Get Started
        </button>
    </div>
    <div>
        <img src="" alt="example-img">
    </div>
</section>