<div class="container__quiz-choosen">
    <% for(let i = 0;i < (data.length- data.length) + 1;i++){ %>
        
        <h1>Category: <%= data[i].category%> </h1>
        <h2><%= data[i].question%></h2>
        

    <%}%>
</div>

